.App {
  text-align: center;
}


#title {
  font-size: 3.3rem; /* Increase font size */
  margin-top: 10vh;
}

#description {
  font-size: 20px; /* Increase font size */
  margin-bottom: 18px;
}

#tooltip {
  position: absolute;
  opacity: 0;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
  pointer-events: none; /* Prevents the tooltip from interfering with mouse events */
  font-size: 14px;
}
